.header {
  color: #EBD414;
}
.main_title {
  text-align: center;
  font-size: 60px;
  color: #ffc200;
}

.title {
  text-align: center;
  font-size: 54px;
  color: #EEDB37;

}

html {
  background-color: #0d1c9a;
  background-image: repeating-linear-gradient(to right,#0d1e97, #142beb 50%, #0d1e97);
}
